---
version: "2.1"
services:
  prowlarr:
    image: lscr.io/linuxserver/prowlarr:0.4.5-nightly
    container_name: prowlarr
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Stockholm
    volumes:
      - "{{ docker_base_dir }}/prowlarr/config:/config"
    ports:
      - 9696:9696
    restart: unless-stopped
networks:
  default:
    name: caddy_default
    external: true
