{
    email {$CLOUDFLARE_EMAIL}
    skip_install_trust
}
(ssl) {
    tls {
        dns cloudflare {$CLOUDFLARE_API}
        resolvers 1.1.1.1
    }
}
(localSubnets) {
    @localSubnets {
        remote_ip forwarded 192.168.0.0/16 172.16.0.0/12 10.0.0.0/8
    }
}
*.{$MY_DOMAIN} {
    import ssl
    import localSubnets
    import import/*.caddy
}
